.rata{
	position:absolute;
	background-color: black;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 450%;
	top:2%;
	left:40%;
	height:0%;
}
.rata1{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 250%;
	top:80%;
	left:45%;
	height:0%;
}
.rata2{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 230%;
	top:20%;
	left:10%;
	height:0%;
}
.rata3{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 230%;
	top:20%;
	left:35%;
	height:0%;
}
.rata4{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 230%;
	top:20%;
	left:60%;
	height:0%;
}
.rata5{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 230%;
	top:30%;
	left:25%;
	height:0%;
}
.rata6{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 230%;
	top:30%;
	left:55%;
	height:0%;
}
.rata7{
	position:absolute;
	background-color: #4F5050;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 230%;
	top:40%;
	left:55%;
	height:0%;
}
